@import './template';

.container {
    width: 90vw;
}

// Header
.header {
    height: 7vh;
    background-color: $gray-900;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    color: $white;
    .header-logo {
        color: $white;
        display: flex;
        align-items: center;
        font-size: 1.1em;
    }
    .nav {
        display: flex;
        justify-content: end;
        .nav-link {
            text-decoration: none;
        }
        .nav_home {
            color: $white;
        }
        .nav_items {
            color: $gray-400;
        }
    }
    
}

// Main
.main-content {
    width: 70vw;
    .main-text {
        height: 40vh;
        background-color: $gray-200;
        padding: 5em 0 0 2em;
    }
    .main-cards {
        display: flex;
        justify-content: space-between;
        height: 40%;
        .card {
            width: 15vw;
            .card-text {
                font-size: 0.8em;
            }
        }
    }
}

// Footer
.footer {
    height: 12vh;
    background-color: $gray-900;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    .footer-text {
        color: $white;
        font-size: 1em;
        padding-top: 3em;
    }
}

